<div data-template-semantic class="fx-selector {{classNames}}">

    {{#unless hideHeader}}

        <div data-selector-header class="selector-header clearfix">

            {{#unless hideTitle}}

                <h5 class="truncate fx-selector-title">{{ title }}</h5>

            {{/unless}}

            <div class="btn-group controller" role="group">

                {{#if incremental}}

                    <button type="button" class="btn btn-default">
                        <span class=" glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>

                {{/if}}

                {{#unless hideSwitch}}

                    <div class="btn-group" role="group">
                        <input type="checkbox" id="switch-{{id}}" name="disable-selector" data-target="{{id}}"
                               data-type="switch" data-role="switch" checked>
                        <label class="filter-enabled-label" for="switch-{{id}}">{{enable_filter}}</label>
                    </div>

                {{/unless}}

                {{#unless hideRemoveButton}}

                    <button data-role="remove" class="btn btn-default btn-round" type="button" title="{{ tooltip_remove_selector }}">
                        <span class="fx-icon fx-icon-close" aria-hidden="true"></span>
                    </button>

                {{/unless}}

            </div>

        </div>

    {{/unless}}

    {{#each selectors}}
        <div data-selector="{{this.id}}"></div>
    {{/each}}

</div>
