<div>

    <ul data-input-list class="filter-radio-list list-unstyled list-inline"></ul>

    <li data-input-item>
        <input type="{{type}}" id="{{id}}" name="{{name}}" value="{{value}}">
        <label for="{{id}}">{{label}}</label>
    </li>

</div>