<div>
    <div data-tree-template>

        <div class="selector-content">

            {{#unless hideFilter}}
                <input data-role="filter" type="text" class="form-control" placeholder="{{search_placeholder}}">
            {{/unless}}

            <div class="tree-holder">
                <div data-role="tree"></div>
            </div>

        </div>

        <div class="selector-footer clearfix">

            {{#unless hideFooter}}

                {{#unless hideButtons}}

                    <div class="btn-group">
                        {{#unless hideClearAllButton}}
                            <button data-role="clear" class="btn btn-default pull-right">{{ clear_all_btn }}</button>
                        {{/unless}}
                        {{#unless hideSelectAllButton}}
                            <button data-role="select" class="btn btn-default pull-right">{{ select_all_btn }}</button>
                        {{/unless}}
                    </div>

                {{/unless}}

                {{#unless hideSummary}}
                    <ul data-role="summary"></ul>
                {{/unless}}

            {{/unless}}

        </div>
    </div>

    <div data-summary-item>
        {{#each values}}
            <div data-code="{{this.code}}">{{this.value}}</div>
        {{/each}}
    </div>

</div>