<div>

    <div data-template-selector class="fx-selector">

        {{#unless hideHeader}}

                <div class="selector-header clearfix">

                    {{#unless hideTitle}}

                        <h4>{{ title }}</h4>

                    {{/unless}}

                    {{#unless hideRemoveButton}}

                        <div class="pull-right">
                            <button data-role="remove" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        </div>

                    {{/unless}}

                    {{#unless hideSwitch}}

                        <div class="pull-right">
                            <input type="checkbox" id="switch-{{id}}" name="disable-selector"  data-target="{{id}}"
                                   data-type="switch" data-role="switch" checked>
                            <label for="switch-{{id}}">{{enable_filter}}</label>
                        </div>

                    {{/unless}}


                </div>

        {{/unless}}


    </div>

    <div data-template-semantic class="fx-selector">

        {{#unless hideHeader}}

                <div class="selector-header clearfix">

                    {{#unless hideTitle}}

                        <h4>{{ title }}</h4>

                    {{/unless}}

                    {{#unless hideRemoveButton}}

                        <div class="pull-right">
                            <button data-role="remove" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                        </div>

                    {{/unless}}

                    {{#unless hideSwitch}}

                        <div class="pull-right">
                            <input type="checkbox" id="switch-{{id}}" name="disable-selector"  data-target="{{id}}"
                                   data-type="switch" data-role="switch" checked>
                            <label for="switch-{{id}}">{{enable_filter}}</label>
                        </div>

                    {{/unless}}

                </div>

        {{/unless}}

        <!-- Nav tabs -->
        <div class="fx-tabs">

            <ul id="country-ul" class="nav nav-tabs" role="tablist">

                {{#each selectors}}

                    <li role="presentation" data-sel="{{this.id}}">
                        <a href="#{{this.ref}}" aria-controls="{{this.id}}" role="tab"
                           data-toggle="tab">{{this.selector.title}}</a>
                    </li>

                {{/each}}

            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">

            {{#each selectors}}
                <div role="tabpanel" class="tab-pane" id="{{this.ref}}" data-selector="{{this.id}}"></div>
            {{/each}}

        </div>

    </div>

    <div data-summary>
        {{#summary}}
            <ul class="list-unstyled">
                {{label}}

                {{#values}}
                    <li data-code="{{this.code}}" data-selector="{{this.selector}}">{{ this.value }}</li>
                {{/values}}

            </ul>
        {{/summary}}
    </div>

</div>
