<div>

    <div data-template-selector class="fx-selector {{classNames}}">

        {{#unless hideHeader}}

            <div data-selector-header class="selector-header clearfix">

                {{#unless hideTitle}}

                    <h5 class="truncate fx-selector-title">{{ title }}

                    </h5>

                {{/unless}}

                {{#unless hideHeaderIcon}}

                    {{#if headerIconTooltip}}
                        <span class="{{headerIconClassName}}" title="{{headerIconTooltip}}"></span>
                     {{else}}
                        <span class="{{headerIconClassName}}"></span>
                    {{/if}}

                {{/unless}}

                <div class="btn-group controller" role="group">

                    {{#unless hideSwitch}}

                        <div class="btn-group" role="group">
                            <input type="checkbox" id="switch-{{id}}" name="disable-selector" data-target="{{id}}"
                                   data-type="switch" data-role="switch" checked>
                            <label class="filter-enabled-label" for="switch-{{id}}">{{enable_filter}}</label>
                        </div>

                    {{/unless}}

                    {{#unless hideRemoveButton}}

                        <button data-role="remove" class="btn btn-default btn-round" type="button" title="{{ tooltip_remove_selector }}">
                            <span class="fx-icon fx-icon-close" aria-hidden="true"></span>
                        </button>


                    {{/unless}}

                </div>

            </div>

        {{/unless}}

    </div>

    <div data-template-semantic class="fx-selector {{classNames}}">

        {{#unless hideHeader}}

            <div data-selector-header class="selector-header clearfix">

                {{#unless hideTitle}}

                    <h5 class="truncate fx-selector-title">{{ title }}</h5>

                {{/unless}}


                <div class="btn-group controller" role="group">

                    {{#unless hideSwitch}}

                        <div class="btn-group" role="group">
                            <input type="checkbox" id="switch-{{id}}" name="disable-selector" data-target="{{id}}"
                                   data-type="switch" data-role="switch" checked>
                            <label class="filter-enabled-label" for="switch-{{id}}">{{enable_filter}}</label>
                        </div>

                    {{/unless}}

                    {{#unless hideRemoveButton}}

                        <button data-role="remove" class="btn btn-default btn-round" type="button" title="{{ tooltip_remove_selector }}">
                            <span class="fx-icon fx-icon-close" aria-hidden="true"></span>
                        </button>

                    {{/unless}}

                </div>

            </div>

        {{/unless}}

        <!-- Nav tabs -->
        <div class="fx-tabs">

            <ul data-semantic-list class="nav nav-tabs" role="tablist">

                {{#each selectors}}

                    <li role="presentation" data-sel="{{this.id}}">
                        <a href="#{{this.ref}}" aria-controls="{{this.id}}" role="tab"
                           data-toggle="tab">{{this.selector.title}}</a>
                    </li>

                {{/each}}

            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">

            {{#each selectors}}
                <div role="tabpanel" class="tab-pane" id="{{this.ref}}" data-selector="{{this.id}}"></div>
            {{/each}}

        </div>

    </div>

    <div data-summary>

        {{#summary}}
            <ul class="list-unstyled">
                {{label}}

                {{#values}}
                    <li data-code="{{this.code}}" data-selector="{{this.selector}}">{{{ this.value }}}</li>
                {{/values}}

            </ul>
        {{/summary}}

    </div>

</div>