<div>

    <div data-input-list-container>
        {{#if isCheckboxOrRadio}}
            <ul data-input-list class="filter-radio-list list-unstyled list-inline"></ul>
        {{else}}
            <ul data-input-list class="filter-radio-list list-unstyled"></ul>
        {{/if}}
    </div>

    <li data-input-item class="form-group">
        {{#if isCheckboxOrRadio}}
            <input type="{{type}}" id="{{id}}" name="{{name}}" value="{{value}}">
            <label for="{{id}}">{{label}}</label>
        {{else}}
            <input type="{{type}}" id="{{id}}" name="{{name}}" value="{{value}}" class="form-control" placeholder="{{label}}"  min="{{min}}" max="{{max}}">
        {{/if}}
    </li>

</div>