<div class="form-group">
    <label for="{{id}}">{{label}}</label>
    <textarea  {{#if readonly}} readonly {{/if}} class="form-control" id="{{id}}" data-textarea placeholder="{{label}}" rows="{{rows}}" cols="{{cols}}"></textarea>
    <p class="help-block error"></p>
</div>