<div>

    <ul class="nav nav-tabs">

        {{#each nls}}
            <li><a data-lang="{{this}}" data-toggle="tab" href="#nls-{{../id}}-{{this}}">{{this}}</a></li>
        {{/each}}

    </ul>

    <div class="tab-content">

        {{#each nls}}
            <div id="nls-{{../id}}-{{this}}" class="tab-pane">
                <div data-selector="{{../selector}}_{{this}}"></div>
            </div>
        {{/each}}

    </div>

</div>